<div class="media-object-modal-search">
	<input type="text" placeholder="Search Image Name..." name="images-search" class="form-control images-search">
	<%= link_to(admin_media_objects_path( search: "", offset: 0, modal_uid: modal_uid, parent_selector: parent_selector, input_type: input_type ), remote: true, class: "btn btn-info images-search-button") do %>
		Search
	<% end %>
</div>