<%#
# Collection

This partial is used on the `index` and `show` pages
to display a collection of resources in an HTML table.

## Local variables:

- `collection_presenter`:
  An instance of [Administrate::Page::Collection][1].
  The table presenter uses `ResourceDashboard::COLLECTION_ATTRIBUTES` to determine
  the columns displayed in the table
- `resources`:
  An ActiveModel::Relation collection of resources to be displayed in the table.
  By default, the number of resources is limited by pagination
  or by a hard limit to prevent excessive page load times

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Collection
%>

<div class="image-gallery">
	<div class="row">
	  <% resources.each do |resource| %>
			<div class="col-sm-3">
		    <% if resource.file && resource.file.attached? %>
		      <div class="media-object-background-image" style="background: url( '<%= url_for resource.file.variant(resize_to_fill: MediaObject::SMALLTILE) %>' );">

  	        <div class="image-gallery-controls">
	  	        <% if valid_action? :edit, collection_presenter.resource_name %>
			          <%= link_to(
			            t("administrate.actions.edit"),
			            [:edit, namespace, resource],
			            class: "btn btn-sm btn-success",
			          ) if show_action? :edit, resource%>
			        <% end %>

			        <% if valid_action? :destroy, collection_presenter.resource_name %>
			          <%= link_to(
			            t("administrate.actions.destroy"),
			            [namespace, resource],
			            class: "btn btn-sm btn-danger",
			            method: :delete,
			            data: { confirm: t("administrate.actions.confirm") }
			          ) if show_action? :destroy, resource %>
			        <% end %>
  	        </div>
		      </div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>
