@import "bootstrap/scss/bootstrap";


.media-object-background-image {
  width: 100%;
  padding-bottom: 66%;
  background-color: #eee;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

form.search .search__label {
  display: inline;
}

label.select-image-label {
	width: 100%;
}
.tenf-image {
	width: 100%;
	padding-bottom: 66%;
	background-size: cover;
}

// Image Modal
.image-modal .modal-footer, .image-modal .modal-header {
	display: block;
}
.image-modal .modal-footer .text-right {
	display: flex;
	flex-direction: row-reverse;
}
.image-modal .modal-footer .text-right a {
	margin-left: 10px;
}

.modal-backdrop.fade.show:nth-child(1) {
  z-index: 1060;
  background-color: red;
}

div#imageUploadModal {
  z-index: 1061;
}

.tenf-upload-media-modal {
	z-index: 1200;
}