@import "bootstrap/scss/bootstrap";
@import '@fortawesome/fontawesome-free/css/all';

.media-object-background-image {
  width: 100%;
  padding-bottom: 66%;
  background-color: #eee;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

form.search .search__label {
  display: inline;
}

label.select-image-label {
	width: 100%;
}
.tenf-image {
	width: 100%;
	padding-bottom: 66%;
	background-size: cover;
}

// Image Modal
.image-modal .modal-footer, .image-modal .modal-header {
	display: block;
}
.image-modal .modal-footer .text-right {
	display: flex;
	flex-direction: row-reverse;
}
.image-modal .modal-footer .text-right a {
	margin-left: 10px;
}

.modal-backdrop.fade.show:nth-child(1) {
  z-index: 1060;
  background-color: red;
}

div#imageUploadModal {
  z-index: 1061;
}

.tenf-upload-media-modal {
	z-index: 1200;
}

.media-thumbnail-container {
  display: inline-block;
  position: relative;
}

a.media-object-remove {
  position: absolute;
  top: 4px;
  right: 4px;
}

select.tenf-media-library-select {
	display: none;
}

label.media-object-gallery-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.media-object-background-image {
  position: relative;
  margin-bottom: 24px;
}

input:checked + label.media-object-gallery-label {
  outline: 8px solid #03a9f4;
}

input.select-media-object-input {
  display: none;
}

span.media-object-name {
  margin: 10px;
  color: #111;
  background: #eee;
  padding: 4px 10px;
  border-radius: 4px;
  position: absolute;
}

.media-object-modal-search {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.media-object-modal-search input {
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
}
.media-object-modal-search a {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.field-unit--single-media-field select {
	display: none;
}